<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tequeno.bar">
    <!--
        出于安全考虑 Android 11之后的版本使用contentProvider访问其他软件包需要先声明
        package直接指定软件包名
        provider访问指定暴露的provider
        intent访问指定暴露的intent activity
    -->
    <!--<queries>
        <package android:name="com.tequeno.bar" />

        <provider
            android:authorities="com.tequeno.bar.usercontentprovider"
            android:exported="false" />
    </queries>-->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 管理安装包权限 -->
    <!--<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
    <!-- 安装应用权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- 通信录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 手机震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        android:exported="true"允许外部应用调用
        intent-filter 可以自定义自己的action和category提供外部应用
        -->
        <activity
            android:name=".MyIntentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="abc.fe.32.3gd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
        一般情况下当activity配置发生改变时 activity会被销毁然后重新创建
        configChanges 设置某些特定操作不会销毁当前activity而是调用onConfigurationChanged方法
        orientation 屏幕方向改变
        screenLayout 屏幕显示发生改变 比如分屏全屏切换
        screenSize 屏幕大小发生改变 比如横屏竖屏切换
        android:configChanges="orientation|screenLayout|screenSize"

        screenOrientation 设置固定的屏幕方向
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity"

        supportsPictureInPicture 支持当前activity以画中画模式运行
        android:supportsPictureInPicture="true"
        -->
        <activity
            android:name=".TestActivity"
            android:exported="true"
            android:configChanges="orientation|screenLayout|screenSize"
            android:supportsPictureInPicture="true"/>
        <activity
            android:name=".Intent1Activity"
            android:exported="false" />
        <activity
            android:name=".fancyview.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".fancyview.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".fancyview.LaunchPagerActivity"
            android:theme="@style/launchTheme"
            android:exported="false" />
        <activity
            android:name=".fragment.LaunchFgActivity"
            android:theme="@style/launchTheme"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".service.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".broadcast.BroadcastActivity"
            android:exported="false"/>
        <activity
            android:name=".glide.GlideActivity"
            android:exported="false" />
        <activity
            android:name=".provider.ExternalFileActivity"
            android:exported="false" />
        <activity
            android:name=".sp.SharedPrefsActivity"
            android:exported="false" />
        <activity
            android:name=".sqlite.SQLiteDbActivity"
            android:exported="false" />
        <activity
            android:name=".permission.PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".fancyview.SpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".fancyview.GridViewActivity"
            android:exported="false" />

        <service android:name=".service.MyService" />
        <service android:name=".service.MyBindService" />

        <receiver
            android:name=".broadcast.MyReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="@string/export_name_myreceiver" />
            </intent-filter>
        </receiver>

        <!-- 提供外部访问当前应用test.db user表的provider -->
        <provider
            android:name=".provider.UserContentProvider"
            android:authorities="@string/bar_user_content"
            android:enabled="true"
            android:exported="true" />

        <!--
        访问控制 将文件访问的形式从uri改为fileProvider
        grantUriPermissions 必须设置为true 允许外部应用通过uri形式访问文件
        meta-data设置可以访问的路径
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/bar_file_provider"
            android:grantUriPermissions="true">

            <!-- fileProvider -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/cfg_file_path" />
        </provider>
    </application>

</manifest>